<a href="https://colab.research.google.com/github/nadjapereira/python-applications/blob/master/Aula5_parte8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import simplejson as json
import pandas as pd

In [0]:
dados = []
with open('tweets_5min.json') as arquivo:
    for linha in arquivo:
        dados.append(json.loads(linha))

In [0]:
df = pd.DataFrame(dados)

In [0]:
print("--> Dados do tweet")
print(df['text'][0])
print(df['created_at'][0])
print(df['coordinates'][0])
print(df['retweet_count'][0])

print("\n--> Dados do usuário")
print(df['user'][0]['screen_name'])
print(df['user'][0]['location'])
print(df['user'][0]['lang'])
print(df['user'][0]['followers_count'])

--> Dados do tweet
RT @tonyojeda3: An Introduction to #MachineLearning with #Python https://t.co/TMrLLJNskx #DataScience #BigData
Mon Aug 01 21:16:54 +0000 2016
None
0

--> Dados do usuário
ErmiaBivatan
None
en
135

In [0]:
colunas = ['text', 'created_at', 'coordinates', 'retweet_count', 'screen_name', 
           'location', 'lang', 'followers_count']

In [0]:
df_aux = pd.DataFrame(columns=colunas)
df_aux

Empty DataFrame
Columns: [text, created_at, coordinates, retweet_count, screen_name, location, lang, followers_count]
Index: []

In [0]:
df_aux.loc[0] = [df['text'].iloc[0],
                 df['created_at'].iloc[0],
                 df['coordinates'].iloc[0],
                 df['retweet_count'].iloc[0],
                 df['user'].iloc[0]['screen_name'],
                 df['user'].iloc[0]['location'],
                 df['user'].iloc[0]['lang'],
                 df['user'].iloc[0]['followers_count']
                ]

In [0]:
df_aux

,text,created_at,coordinates,retweet_count,screen_name,location,lang,followers_count
0,RT @tonyojeda3: An Introduction to #MachineLea...,Mon Aug 01 21:16:54 +0000 2016,None,0,ErmiaBivatan,None,en,135

In [0]:
from geopy.geocoders import Nominatim
def pegar_lat_long(local):
    geo = Nominatim()
    try:
        local = geo.geocode(local)
        return (local.latitude, local.longitude)
    except:
        return 0

In [0]:
print(pegar_lat_long('Av. Paulista, 302, São Paulo'))

(-23.5691802, -46.646645)

In [0]:
def salvar_hashtag(texto):
    palavras = texto.split()
    aux = []
    for p in palavras:
        if p.startswith('#'):
            aux.append(p)
    return ' '.join(aux)

In [0]:
print(salvar_hashtag(df['text'][0]))

#MachineLearning #Python #DataScience #BigData

In [0]:
# versao de salvar_hashtag em compressao de lista
def salvar_hashtag2(texto):
    return ' '.join([x for x in texto.split() if x.startswith('#')])

In [0]:
print(salvar_hashtag2(df['text'][0]))

#MachineLearning #Python #DataScience #BigData

In [0]:
colunas = ['text', 'created_at', 'coordinates', 'retweet_count', 'screen_name', 
           'location', 'lang', 'followers_count', 'lat', 'long', 'hashtags']
df_final = pd.DataFrame(columns=colunas)
df_final

Empty DataFrame
Columns: [text, created_at, coordinates, retweet_count, screen_name, location, lang, followers_count, lat, long, hashtags]
Index: []

In [0]:
import time
t0 = time.time()
for i in range(0, len(df)):
    if df['user'].iloc[i]['location'] != None:
        tem_lat_long = pegar_lat_long(df['user'].iloc[i]['location'])
        if tem_lat_long != 0:
            df_final.loc[i] = [df['text'].iloc[i],
                               df['created_at'].iloc[i],
                               df['coordinates'].iloc[i],
                               df['retweet_count'].iloc[i],
                               df['user'].iloc[i]['screen_name'],
                               df['user'].iloc[i]['location'],
                               df['user'].iloc[i]['lang'],
                               df['user'].iloc[i]['followers_count'],
                               tem_lat_long[0],
                               tem_lat_long[1],
                               salvar_hashtag(df['text'].iloc[i]),
                              ]
            print(i, end = ' ')
tf = time.time() - t0
print("Demorou {} minutos".format(round(tf/60, 2)))

1 3 4 5 6 10 13 14 16 18 19 20 25 29 30 31 32 33 35 37 38 39 43 46 48 54 55 58 59 61 63 65 67 71 72 73 74 75 76 77 78 79 80 81 82 83 Demorou 1.01 minutos

In [0]:
df_final.reset_index(inplace=True, drop=True)
df_final

,text,created_at,coordinates,retweet_count,screen_name,location,lang,followers_count,lat,long,hashtags
0,Course: 100% Off Big Data and Hadoop for https...,Mon Aug 01 21:17:01 +0000 2016,None,0,DkaliRam,"17.364446,78.467696",en,1167,17.364902,78.467696,
1,RT @wesmckinn: If you want to get more engaged...,Mon Aug 01 21:17:13 +0000 2016,None,0,cool_python,"Brighton & Hove, UK",en,404,50.845221,-0.149759,
2,Resposta: Iniciar uma ferramenta de linha de c...,Mon Aug 01 21:17:19 +0000 2016,None,0,drgarcia1986,São Paulo,pt,289,-23.550651,-46.633382,
3,RT @LauritaApplez: #Python devs looking for a ...,Mon Aug 01 21:17:25 +0000 2016,None,0,HoGueRa27,Formosa,es,43,23.598298,120.835363,#Python #opensource
4,#nowplaying #ipad Python Bootcamp: Understandi...,Mon Aug 01 21:17:34 +0000 2016,None,0,NowPlaying_Here,"New York, USA",en,70,40.730646,-73.986614,#nowplaying #ipad #book #apple #iphone
5,#NowPlaying - Crocodile Python (Clean) - Rick ...,Mon Aug 01 21:17:45 +0000 2016,None,0,heat100radio,"Philadelphia, PA",en,1756,39.952415,-75.163575,#NowPlaying
6,RT @telefonicaid: #BigData #RRSS: nuevas herra...,Mon Aug 01 21:17:53 +0000 2016,None,0,BigDataCol,"Medellín, Antioquia",es,1968,6.244338,-75.573553,#BigData #RRSS:
7,@vambenepe interesting challenge on APIs thoug...,Mon Aug 01 21:17:53 +0000 2016,None,0,mosesjones,"48.85056814,2.33287495",en,1183,48.850602,2.332509,
8,Job ad - SOFTWARE DEVELOPER (BIG DATA) https:/...,Mon Aug 01 21:17:57 +0000 2016,None,0,webinvestnews,London,en,592,51.507322,-0.127647,#NASDAQ
9,Big data stirs visions of 'mobile machinery' h...,Mon Aug 01 21:18:11 +0000 2016,None,0,SociativeBigDat,"San Francisco, CA",en,5984,45.442354,-73.437309,#bigdata
10,Big Data Analytic and Important Question https...,Mon Aug 01 21:18:11 +0000 2016,None,0,SociativeBigDat,"San Francisco, CA",en,5984,45.442354,-73.437309,#bigdata
11,Anatomía de un experto en Big Data. #SocialMed...,Mon Aug 01 21:18:11 +0000 2016,None,0,ShimmerTechno,Rhode Island,en,861,41.796241,-71.599237,#SocialMedia #ContentMarketing
12,#JobSearch : Senior Developer – Big Data https...,Mon Aug 01 21:18:37 +0000 2016,None,0,JetGrayJobs,"Las Vegas, NV",en,116,36.166286,-115.149225,#JobSearch #jobs #hadoop
13,RT @billsoftnet: Big Data Analysts vs Big Data...,Mon Aug 01 21:18:58 +0000 2016,None,0,AlexHorovitz,"California, USA, Earth",en,2261,35.478057,-115.541994,#DataSecurity #Security #CyberSecurity #DataSc...
14,Sing it sister! https://t.co/VD04pgDtn2,Mon Aug 01 21:18:58 +0000 2016,None,0,WessieThon,"Westbrook, ME",en,1102,43.677025,-70.371162,
15,Go Leads Strong Big Data Showing in IEEE Progr...,Mon Aug 01 21:19:04 +0000 2016,None,0,beckynagel,"Irvine, CA",en,2393,49.958444,-110.273261,
16,RT @billsoftnet: Big Data Analysts vs Big Data...,Mon Aug 01 21:19:06 +0000 2016,None,0,KU5H4L,Mauritius,en,770,-20.275945,57.570357,#DataSecurity #Security #CyberSecurity #DataSc...
17,"@Doshirae @Hygon_ Regarde le tuto officiel, il...",Mon Aug 01 21:19:06 +0000 2016,None,0,sizeof,Paris,en,10428,48.856610,2.351499,
18,"another excellent, informative and practical (...",Mon Aug 01 21:19:08 +0000 2016,None,0,webpusher,"Dublin, Ireland",en,173,53.349764,-6.260273,#cnn #MachineLearning
19,RT @planetpython: Graham Dumpleton: Testing ou...,Mon Aug 01 21:19:17 +0000 2016,None,0,HoGueRa27,Formosa,es,43,23.598298,120.835363,
20,How Big Data Can Predict Football’s Rising Sta...,Mon Aug 01 21:19:26 +0000 2016,None,0,Superjohna07,"Africa, World.",en,2756,55.173887,-163.127526,
21,Si qqn est intéressé par une lib python pour f...,Mon Aug 01 21:19:33 +0000 2016,None,0,julienc91,"France, 75",fr,120,48.858810,2.320031,
22,"Boas questões para iniciantes: ""Hello #python!...",Mon Aug 01 21:19:37 +0000 2016,None,0,w_oliveiras,Brazil,pt,479,-10.333333,-53.200000,"#python!"""
23,"RT @developTo0ls: #python, #css When I find a ...",Mon Aug 01 21:19:59 +0000 2016,None,0,HoGueRa27,Formosa,es,43,23.598298,120.835363,"#python, #css #code"
24,John Snow Labs Now Provides Curated Data in Ap...,Mon Aug 01 21:20:06 +0000 2016,None,0,TungstenBigData,London,en,1747,51.507322,-0.127647,#DataAnalytics
25,RT @SociativeBigDat: Big data stirs visions of...,Mon Aug 01 21:20:24 +0000 2016,None,0,ShirleyYYoung,"Mountain View, CA",en,407,45.507373,-73.605082,#bigdata
26,RT @SociativeBigDat: Big Data Analytic and Imp...,Mon Aug 01 21:20:24 +0000 2016,None,0,ShirleyYYoung,"Mountain View, CA",en,407,45.507373,-73.605082,#bigdata
27,RT @Rbloggers: New R job: Big Data in Digital ...,Mon Aug 01 21:20:35 +0000 2016,None,0,SmartMedRT,"Tübingen, Deutschland",de,301,48.523616,9.053553,#rstats #DataScience #jobs
28,Searching for amazing #FullStack #Developers f...,Mon Aug 01 21:20:40 +0000 2016,None,0,angavartin,Phoenix,en,290,33.448587,-112.077346,#FullStack #Developers #Tempe #Java #Python #h...
29,How do I calculate the date six months from th...,Mon Aug 01 21:21:01 +0000 2016,None,0,PythonQnA,"Bengaluru, India",en,104,12.979120,77.591300,#python #datetime
30,Senior Developer – Big Data #Hiring Migrate Da...,Mon Aug 01 21:21:08 +0000 2016,None,0,orlandorussian,"Orlando, FL",en,424,28.542400,-81.379437,#Hiring
31,@matthewherper @ethanjweiss lookout for PSA da...,Mon Aug 01 21:21:20 +0000 2016,None,0,daviesbj,"East Liberty, Pennsylvania",en,3387,40.462069,-79.923952,
32,John Snow Labs Now Provides Curated Data in Ap...,Mon Aug 01 21:21:38 +0000 2016,None,0,hawaiinewsupdat,Hawaii,en,242,21.216044,-157.975203,
33,RT @BLUTecnologia: ¿Qué es Big Data? ¿Qué es y...,Fri Jul 07 01:55:49 +0000 2017,None,0,CamiloALopezC,"Bogota, Colombia",es,611,4.598077,-74.076103,#Conéctese
34,RT @StatsBlogs: Working With R and Big Data: U...,Fri Jul 07 01:55:50 +0000 2017,None,0,Laluito,Mexico City,en,427,19.432601,-99.133342,
35,Softkitect : Quantum Big Data Cloud AI Book Ch...,Fri Jul 07 01:56:00 +0000 2017,None,0,ClouDatAI,"San Francisco, CA",en,1333,45.442354,-73.437309,
36,Softkitect : Quantum Big Data Cloud AI Book Ch...,Fri Jul 07 01:56:00 +0000 2017,None,0,ClouDatAI,"San Francisco, CA",en,1333,45.442354,-73.437309,
37,Robert Mercer: the big data billionaire waging...,Fri Jul 07 01:56:01 +0000 2017,None,0,monstaflashlite,"Copenhagen, Denmark",de,147,55.686724,12.570072,#bigdata
38,Working with #Couchbase from #Delphi - https:/...,Mon Sep 25 14:54:45 +0000 2017,None,0,mgroves,"Grove City, OH",en,2236,39.881452,-83.092964,#Couchbase #Delphi
39,@michaelwaskom You mean “Before python was coo...,Mon Sep 25 14:54:48 +0000 2017,None,0,PhDemetri,"Toronto, Ontario",en,116,43.653963,-79.387207,
40,誰一人として話題にしてないけどREPLがjava9で実装されたので\nPythonにも負けません,Mon Sep 25 14:54:48 +0000 2017,None,0,hiroakichan,慶応大学,ja,245,35.389334,139.431795,
41,Man Found Dead In His Bedroom Beside His Pytho...,Mon Sep 25 14:54:56 +0000 2017,None,0,marvellous997,NIGERIA,en,776,9.600036,7.999972,
42,RT @AriMelber: New FBI annual crime data out:\...,Mon Sep 25 14:54:58 +0000 2017,None,0,NicolasRobidoux,Montréal,en,89,45.497216,-73.610364,
43,"RT @JimMarous: Potential of Fintechs, Big Data...",Mon Sep 25 14:54:59 +0000 2017,None,0,akshatprakash,"Hyderabad, India",en,130,17.361608,78.474629,#banking #APIs #fintech #bigdata…
44,@untipsyteacher Used for Monty Python and the ...,Mon Sep 25 14:55:01 +0000 2017,None,0,Legohelmet,Glasgow,en,1873,55.856656,-4.243582,
45,RT @BonKu: Playgrounds as public health interv...,Mon Sep 25 14:55:01 +0000 2017,None,0,theEDpharmacist,Philadelphia,en,1960,39.952415,-75.163575,

In [0]:
df_final.to_csv('saida.csv', sep=';', index=False, encoding='utf-8')